		body{
			font-size: 30px;
			margin: 20px;
		/*	background-image:url("img/stol4.png");*/
			 background-size: 100vw auto;
			 margin: 0;
		}
		@media screen and (orientation:portrait){
			#tasktabs{
				background-size: auto 100vh;
			}
		}

		#tasktabs{
			width: 100vw;
			height: 100vh;
			 background-size: 100vw auto;
			 margin: 0;
			 	padding-top: 2vh;
		}


   
		.desk{
			background-color: white;
			padding-top: 1vh;
			box-shadow: 0px 0px 1px 2px #89888f;
		}

		.green{
			color: #32b434;
		}
		.gray{
			color: #6e6d7a;
		}

		.red{ 
			background-color: red;
		}

		.red-border{
			 border-style: solid;
  			 border-color: red;
		}
		.blue{
			background-color: blue;
		}
		.success{
			background-color: #32b434;
		}

		.fade-enter-active, .fade-leave-active {
		  transition: opacity .5s;
		}
		.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
		  opacity: 0;
		}
		.left{
			position: absolute;
			margin-right: 5vh;
		}