body {
	font-size: 25px;
	margin: 20px;
	background-size: 100vw auto;
	margin: 0;
	color: #464c51;
	text-align: center;
	background-color: rgb(0, 0, 0);

}

@media screen and (orientation:portrait) {
	#tasktabs {
		background-size: auto 100vh;
	}
}

#tasktabs {
	width: 100vw;
	height: 100vh;
	background-size: 100vw auto;
	margin: 0;
	padding-top: 2vh;
}



.desk {
	background-color: white;
	padding-top: 1vh;
	box-shadow: 0px 0px 1px 2px #89888f;
}

.green {
	color: #32b434;
}

.gray {
	color: #6e6d7a;
}

.red {
	background-color: red;
}

.red-border {
	border-style: solid;
	border-color: red;
}

.blue {
	background-color: blue;
}

.success {
	background-color: #32b434;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active до версии 2.1.8 */
	{
	opacity: 0;
}

.left {
	position: absolute;
	margin-right: 5vh;
}

h1 {
	font-size: 30px;
}

.logo {
	background-image: url("img/logo6.png");
	position: absolute;
	opacity: 0.8;
	width: 7vh;
	height: 7.2vh;
	background-size: 100% auto;
	margin-left: 4vh;
	margin-top: 1vh;
}

a {
	color: #6e7173;
}

a:hover {
	color: #376e9e;
}

.nav-link.active {
	color: #464c51 !important;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
}

#tasktabs {
	width: 100vw;
	height: 100vh;
	background-size: 100vw auto;
	padding-top: 2vh;
	/*padding-top: 2vh;*/
}

.margins {
	margin: 1vh;
	margin-left: -0.5vh;
}

.paddis {
	padding: 0.2vh;
	padding-left: 1vh;
}

.desk {
	background-color: white;
	padding-top: 1vh;
	box-shadow: 0px 0px 1px 1px #89888f;
	width: 100vw;
	opacity: 0.96;
	border-radius: 3vh;
	/* немного уменьшим масштаб */
	zoom: 70%;
}

@media screen and (max-width: 1200px) {
	body {
		font-size: 51px;
	}

	h1 {
		font-size: 54px;
	}

	button {
		font-size: 30px !important;
	}

	input {
		/* height: 3.4vh !important; */
		font-size: 50px !important;

	}

	a {
		font-size: 58px;
	}

	label {
		font-size: 54px;
	}

	.progress,
	.progress-bar {
		height: 3.6vh !important;
	}

	#tasktabs {
		background-size: auto 100vh;
		padding-top: 0vh;

	}

	#dropdownMenuButton {
		font-size: 36px !important;
	}

	#menu1 {
		padding-left: 1vw !important;
	}

	.left2 {
		margin-left: 6vw !important;
	}

	input[type="checkbox"] {
		width: 5vh !important;
		height: 3.6vh !important;
	}

	.fa {
		font-size: 2em !important;
		line-height: 1em !important;
	}

	.line-height {
		line-height: 6vh;
	}

	.right2 {
		margin-right: -1vh;
	}

	.margins {
		margin-left: 0.5vh;
	}

	.paddis {
		padding: 0.5vh;
		padding-left: 1.6vh;
	}


}


.otstup {
	margin-top: 0.7vh;
	margin-bottom: 0.7vh;
}

.progress {
	position: sticky;
	top: 0;
}

.progress-bar {
	background-color: #668bab;
}

.green {
	/* color: #28a227; */
	color: #8ab725;

}

.gray {
	color: #a7a7b1;
	/* color:#28a745 */
}

.red {
	/* background-color: #c71d45; */
	background-color: #a02832;

}

.red-border {
	border-style: solid;
	border-color: red;
}

.blue {
	background-color: blue;
}

.blue-2 {
	color: #668bab;
}

.success {
	/* background-color: #28a227; */
	background-color: #8ab725;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active до версии 2.1.8 */
	{
	opacity: 0;
}

.left {
	position: absolute;
	margin-right: 5vh;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] {
	display: inline-block;
	width: 2.8vh;
	height: 2.4vh;
	margin: 0 0.2vh 0 0;
	vertical-align: middle;
	cursor: pointer;
	color: green !important;
}

input[type=checkbox]:checked {
	background-color: green !important;
}



/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
	width: 0;
}

.element::-webkit-scrollbar {
	width: 0;
}